article{
   /* display: flex;
    justify-content: center;
    flex-direction: row; */ 
    width: 80%; 
}
.master{
    display: flex;
    justify-content: space-between;
}
.image1{
    width: 100%;
    height: 55%;
}
.first-image{
    width: 100%;
    height: 100%; 
    display: flex;
    align-items: center;
    
}
.aside{
    width: 100%;
    height: 100%;
}
.title-1{
    margin: 0;
    width: 100%;
    height: 30%;
}
.parrafo-1{
    margin: 0;
    width: 100%;
    height: 30%;
}
.clock-section{
    margin: 0;
    width: 100%;
    height: 30%;
}

.aside-section{ 
    display: flex;
    width: 40%;
    margin: 2%; 
}

.first-section{
    margin-top: 1%;
}
.general{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 80%;
}
.img12 {
    width: 90%;
    margin: 2px;
}
.general-1{
    flex: 1;
}

.second-part{
    margin-top: 1%;
}

.oficial{
    display: flex;
    justify-content: space-between;
    flex-direction: row; 
    flex-wrap: wrap;
    width: 100%;
}

.oficial-1{
    flex: 1;
}

.im15{
    width: 90%;
    margin: 2px;
}

.time{
    margin: 0;
    width: 100%;
    height: 30%;
}

.lines{
    margin: 0;
    width: 100%;
    height: 30%;
    padding-bottom: 10%;
}
hr{
    width: 80%;
    margin-top: 0;
}




